.App {
  text-align: center;
  background-color: white;
  padding: 20px;
  color: #222222;
  height: 150px;
  width: 300px;
}

.Word {
  color: #00d8ff;
  font-size: 40px;
}

.Input {
  border: 0;
  border-bottom: 2px solid #00d8ff;
  width: 80%;
  font-size: 40px;
  line-height: 40px;
  height: 40px;
  text-align: center;
  padding: 10px;
  background: transparent;
  color: #222222;
}

.Input:focus {
  outline: 0;
}